<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script src="/src/jquery.js"></script>
    <script src="/src/interface.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link rel="stylesheet" href="/css/style.css">
    <title>All Spaces</title>
  </head>
  <body>
    <div id="header">
      <div id="links">
          <form id="sign-out-link" action="/sessions/destroy" method="post">
            <input id="sign-outid" type="submit" name="sign_out" value="Sign out" />
          </form>
          <form id="request-link" action="/requests" method="get">
            <input id="sign-outid" type="submit" name="requests" value="Requests" />
          </form>
          <form class="spaces-link" action="/spaces" method="get">
            <input type="submit" name="submit" value="Spaces">
          </form>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      </div>
    </div>
    <div id="body-container">
      <p>Requests</p>
      <div class="row">
        <div class="column">
          <p>Requests I've made</p>
          <p><% @user.user_id %></p>
          <p><% @requests_made_by_user.length %></p>
          <% @requests_made_by_user.each do |request| %>
          <div id="list-element">
            <div id="space-footer">
              <h2>Space:<%= "#{ request.space.title }" %></h2>
              <h2>Host:<%= "#{ request.host.first_name} #{request.host.last_name}"  %></h2>
              <h2>Date:<%= "#{ request.requested_date }" %></h2>
              <% if request.approved.nil? %>
              <h2>Status: pending </h2>
              <% elsif request.approved %>
              <h2>Status: approved </h2>
              <% else %>
              <h2>Status: denied </h2>
              <% end %>
            </div>
            <% end %>

          </div>
        </div>
        <div class="column">
          <p>Requests I've received</p>
          <p><% @user.user_id %></p>
          <p><% @requests_received_by_user.length %></p>
          <% @requests_received_by_user.each do |request| %>
          <div id="list-element">
            <div id="space-footer">
              <h2>space:<%= "#{ request.space.title }" %></h2>
              <h2>guest:<%= "#{ request.guest.first_name} #{request.guest.last_name}"  %></h2>
              <h2>date:<%= "#{ request.requested_date }" %></h2>
              <% if request.approved.nil? %>
              <h2>Status: pending  <form action="/requests/approve/<%= request.request_id %>" method="post">
                      <input type="submit" value="Approve" />
                    </form>
                    <form action="/requests/deny/<%= request.request_id %>" method="post">
                            <input type="submit" value="Deny" />
                    </form>
              </h2>
              <% elsif request.approved %>
              <h2>Status: approved </h2>
              <% else %>
              <h2>Status: denied </h2>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div id="footer">
      <h3>© Makers BnB</h3>
    </div>
  </body>
</html>
