<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Makers BnB</title>
  </head>
  <body>
    <div id="header">
      <div id="links">
        <a href="/sessions/destroy">Sign out</a>
        <a href="/requests">Requests</a>
      </div>
    </div>
    <center>
      <h1><%= @space.title %></h1><br>
      <p><%= @space.description %></p>
      <p>£<%= @space.price_per_night %> per night</p>
      <p><%= @space.address %></p>
      <form action="/request/create" method="post" >
        <input type="date" name="requested_date" value="<%= Date.new %>">
        <input type="submit" name="submit" value="Request to Book">
      </form>
    </center>
  </body>
  <script src="src/interface.js" charset="utf-8"></script>
</html>
