<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>All Spaces</title>
  </head>
  <body>
    <div id="header">
      <div id="links">
        <a href="/users/sign_out">Sign out</a>
        <a href="/requests">Requests</a>
      </div>
    </div>
    <div id="body-container">
      <div id="left-third">

        <h1>Book a Space</h1>
        <p>Have a lovely space you'd like to share?</p>
        <a href="/spaces/add">List a Space</a>
        <form action="/spaces" method="post">
          <h3>When do you want to go?</h3>
          <label for="available_from">Check in:</label>
          <input type="date" name="available_from" value="<%= Date.new %>">
          <label for="available_to">Check out:</label>
          <input type="date" name="available_to" value="<%= Date.new %>"><br><br>
          <input type="submit" name="submit" value="List Spaces">
        </form>
      </div>
      <div id="right-third">
          <% @all_spaces.each do |space| %>
          <div id="list-element">
            <div id="space-image">
              <img src="images/kitchen.jpg" alt="You could stay here">
            </div>
            <div id="space-footer">
              <h2><%= "#{ space.title }" %></h2>
              <span id="description"> <%= "#{ space.description }" %></span>
              <form action="/spaces/<%= "#{ space.space_id }" %>" method="get">
                <input type="submit" value="view" />
              </form>
            </div>

          </div>
          <% end %>
      </div>
      </div>
    <div id="footer">
      <h3>© Makers BnB</h3>
    </div>
  </body>
</html>
