<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="/src/jquery.js"></script>
    <script src="/src/interface.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <title>All Spaces</title>
  </head>
  <body>
    <div id="header">
      <div id="links">
          <form id="sign-out-link" action="/sessions/destroy" method="post">
            <input id="sign-outid" type="submit" name="sign_out" value="Sign out" />
          </form>
          <form id="request-link" action="/requests" method="get">
            <input id="sign-outid" type="submit" name="requests" value="Requests" />
          </form>
          <form class="spaces-link" action="/spaces" method="get">
            <input type="submit" name="submit" value="Spaces">
          </form>
      </div>
    </div>
    <div id="body-container">
      <div id="left-third">

        <h1>Book a Space</h1>
        <p>Have a lovely space you'd like to share?</p>
        <a href="/spaces/add">List a Space</a>
        <form action="/spaces" method="post">
          <% if @filtered_spaces.nil? %>
          <h3>When do you want to go?</h3>
          <% end %>
          <% if !(@filtered_spaces.nil?) %>
          <h3>Showing properties available from <%=@start_date%> until <%=@end_date%></h3>
          <% end %>
          <label for="available_from">Check in:</label>

          <input autocomplete="off" type="text" id="check_in" name="check_in" value="">
          <label for="available_to">Check out:</label>
          <input autocomplete="off" type="text" id="check_out" name="check_out" value=""><br><br>

          <input type="submit" name="submit" value="Filter properties available">
        </form>
      </div>
      <div id="right-third">
          <% spaces = (@filtered_spaces.nil? ? @all_spaces : @filtered_spaces)%>
          <% spaces.each do |space| %>
          <div id="list-element">
            <div id="space-image">
              <img src="images/kitchen.jpg" alt="You could stay here">
            </div>
            <div id="space-footer">
              <h2><%= "#{ space.title }" %></h2>
              <span id="description"> <%= "#{ space.description }" %></span>
              <form action="/spaces/<%= "#{ space.space_id }" %>" method="get">
                <input type="submit" value="view" />
              </form>
            </div>

          </div>
          <% end %>
      </div>
      </div>
    <div id="footer">
      <h3>© Makers BnB</h3>
    </div>
  </body>
</html>
