<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Spaces</title>
  </head>
  <body>
    <a href="/users/sign_out">Sign out</a>
    <a href="/requests">Requests</a>
    <h1>Book a Space</h1>
    <a href="/spaces/add">List a Space</a>
    <form action="/spaces" method="post">
      <label for="available_from">Available from:</label>
      <input type="date" name="available_from" value="<%= Date.new %>"><br>
      <label for="available_to">Available to:</label>
      <input type="date" name="available_to" value="<%= Date.new %>"><br>
      <input type="submit" name="submit" value="List Spaces">
    </form>
    <div>
      <ul>
        <% @all_spaces.each do |space| %>
          <li id="space"> <h2><%= "#{ space.title }" %></h2>
            <span id="description"> <%= "#{ space.description }" %></span>
            <form action="/spaces/<%= "#{ space.space_id }" %>" method="get">
              <input type="submit" value="view" />
            </form>
          </li><br>
        <% end %>
      </ul>

    </div>

  </body>
</html>
